<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <div class="banner-headig">
    <h1>{{ page.title }}</h1>
  </div>
  <div data-section-id="men-fit-guide" data-section-type="fit-guide" id="fit-guide">
    {% section 'men-fit-guide-slider' %}
    {% section 'men-fit-guide' %}
  </div>
</div>