<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <h1 class="template-page-heading">{{ page.title }}</h1>
  {% section 'outlet-stores' %}
  <div class="two-button-last">
    <p><a class="link" href="{{ shop.url }}/pages/stores">Go Back to Boutiques</a></p>
    <p><a href="{{ shop.url }}apps/store-locator/" class="outlet-link-button">Store Locator</span></a></p>
</div>
</div>