<div data-bv-show="reviews" data-bv-product-Id="{{product.id}}" class="bv-review-container">
    {% if product.metafields.bazaarvoice.reviews %}
        {{ product.metafields.bazaarvoice.reviews }}
    {% endif %}
</div>