{% comment %}
    <!-- /snippets/bv-summary.liquid -->
    <!-- Bazaarvoice Summary Container -->
{% endcomment %}
<div class="product-star-rating__write-review" data-bv-show="rating_summary" data-bv-product-Id="{{product.id}}">

{% if product.metafields.bazaarvoice.reviews-aggregate-ratings %}
  {{ product.metafields.bazaarvoice.reviews-aggregate-ratings }}
{% endif %}
</div>
{% comment %}
<!-- End Bazaarvoice Summary Container -->
{% endcomment %}
 