<div class="search_bar">
    <form class="search" action="/search">
        <button type="submit" value="Search" class="search-button" style="background: transparent;"/>
        {% include 'svg-icon-search' %}
        </button>
        <input type="hidden" name="type" value="product" />
        <input type="text" name="q" value="{{ search.terms | escape }}" class="search-header" />
    </form>
</div>
