<div class="search_bar">
    <form class="search" action="/search">
        <!-- <input type="submit" value="Search" /> -->
        {% include 'svg-icon-search' %}
        <input type="hidden" name="type" value="product" />
        <input type="text" name="q" value="{{ search.terms | escape }}" class="search_header" />
    </form>
</div>