<div class="about-container">

	{% for block in section.blocks %}

		{% comment %} CONTENT MODULE - Paired text & images {% endcomment %}

		{% if block.type == 'image_picker' %}

		<div class="content-module layout image-box">
				<img src="{{ block.settings.about_image_desktop | img_url: '800x' }}" />
		</div><!-- .content-module -->
		{% endif %}		  
	{% endfor %}

</div>
<style>
</style>

{% schema %}
{
    "name": "About us page Image",
    "max_blocks": 1,
    "blocks":[{
        "type": "image_picker",
        "name": "About Us Banner",
        "settings":[
            {
                "type": "image_picker",
                "id": "about_image_desktop",
                "label": "Upload Image:",
                "info": "Upload Image for Desktop and Mobile"
            }
        ]
    }]
}
{% endschema %}